{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1 class="display-4">
    Broken Link Checker
</h1>
<p class="text-muted">
    This App is basically built for BBC News Blog Posts!
</p>
<div class="row">
    <div class="col-6 col-sm-8">
    <form method="POST">
        <div class="form-group center">
        {{form.hidden_tag()}}
        {{form.url.label(class='col-form-label')}}
        {{form.url(class='form-control border')}} 
        <br>

        <div class="form-group center">
            {{form.submit(class='btn btn-primary center form-control col-8 rounded-pill')}}
        </div>

        </div>
    </form> <!--End Of Form-->
    </div> <!--End Of First Col-->
    <div class="col-6 col-sm-4">
        <center>
        <img src="static/css/img/earth.png" alt="" width="300px" height="300px">
        </center>
    </div>
    </div> <!--End Of Row-->
    <hr>

    <div class="row justify-content-center">
        <div class="display-4"><i>Result</i></div>
    </div> <!--Result Header-->

    <div class="row justify-content-center">
        <div class="">
            <!-- Errors From the Page -->
            <div class="card rounded">
              <div class="card-body">
                <!-- Link Page Title -->
                <div class="h3">Page Title</div>

                <!-- Link From Form Data -->
                <div class="text-muted"><span class="badge badge-pill badge-info">Link From Form Data</span></div>
                <hr>

                <h4 class="card-title">No. Of Broken Links Found - </h4>
                <p class="card-text">Broken Link List <span class="small">Anchor Text</span> <span class="badge badge-pill badge-danger">Need Fix</span> </p>
              </div>
            </div>
            <!-- Broken Links -->
        </div>
    </div>
    <hr>

</div>
<hr>
{% endblock content %}